<section id="header"><h1>Viewing Party Lite</h1></section>
<% if current_user.nil? %>
<%= button_to "Create New User", '/register', method: :get %>
<%= link_to 'Log In', login_path %>
<% else %>
<%= link_to "Logout" , '/logout', method: :delete %>
<% end %>

<h3>All Users:</h3>
<% @users.each do |user| %>
  <p><%= link_to user.name, dashboard_path %>'s Dashboard</p>
<% end %>

<%= link_to "Landing Page", root_path %>
