<section id="header">
  <h1 algin="center"><%= @user.name %>'s Dashboard</h1>
</section>

<p> <%= button_to "Discover Movies", discover_index_path, method: :get %> </p>
<div id="viewing-parties">
  <h3>Viewing Parties</h3>
<% @user.parties.each do |party| %>
     <% movie = MoviesFacade.get_movie(party.movie_id) %>
     <h4><%= link_to movie.title, movie_path(movie.id) %></h4>
     <img src=https://image.tmdb.org/t/p/w500/<%= movie.poster_path%>>
  <p><%= party.date.strftime("%B %d, %Y") %></p>
  <p><%= party.time.strftime("%l:%M %p") %></p>

  <p><% if party.host_id == @user.id %></p>
    <p> You're the host! </p>
    <% else %>
    <p> Host: <%= party.host_name(@user) %> </p>
  <% end %>

  <p> <% if party.host_id != @user.id %></p>
    <p> You're Invited! </p>
    <% end %>

  <p>Invitees: </p>
  <%party.invited(party.host_id).each do |invitee| %>
    <% if invitee.id == @user.id %>
      <li><b><%= invitee.name %></b></li>
    <% else %>
      <li><%= invitee.name %></li>
    <% end %>
  <% end %>
<% end %>
</div>
